/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {
    .order {
        &__photo {
            width: 20%;
        }
        &__create {
            @include media-hide;
            form {
                display: flex;
                margin-bottom: $small-margin;
                input, button {
                    margin: 0;
                }
                input {
                    margin-right: $small-margin;
                }
            }
        }
        &__more {
            display: flex;
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .order {
        &__photo {
            @include small-paddings;
            width: 25%;
            img {
                width: 100%;
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

    header {
        height: 100%;
    }
    a,
    button {
        i {
            margin-right: 0rem;
        }
        .responsive-hide{
            display: none;
        }
    }
    header {
        text-align: center;
    }
    .header__top  {
        .row{
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .logo__additional {
            margin: 0px;
            margin-bottom: $small-margin;
        }
    }

    .header__bottom {
        margin-bottom: 1rem;
        padding: 2rem !important;
        .title{
            &__additional {
                margin-left: 0rem;
            }
        }
    }

    .order {
        .row > div {
            @include small-paddings;
            margin: 0;
        }
        &__number {
            width: 100%;
            font-size: $large-font-size;
        }
        &__users {
            width: 70%;
        }
        &__info {
            order: 1;
        }
    }

    .groups {
        .group {
            &__actions {
                text-align: center;
                a {
                    margin: $small-margin;
                }
            }
        }
    }
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
