$base-font-size: 1em;
$large-font-size: $base-font-size * 1.5;
$largest-font-size: $base-font-size * 2;
$small-font-size: $base-font-size * 0.8;
$smallest-font-size: $base-font-size * 0.5;

$base-color: white;
$additional-color: #242e38;
$accent-color: #da6622;
$dividing-color: wheat;

// $base-font-family: 'Exo 2', sans-serif;
$base-font-family: 'Montserrat', sans-serif;
$additional-font-family-one: 'Indie Flower', cursive;
$additional-font-family-two: 'Caveat', cursive;

$additional-left-margin: 50px;
$small-margin: 0.5rem;